MainPanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.navigator
	{
		width: 100%;
		height: 100%;
		
		#MenuContent
		{
			padding-top: 70px;
			flex-grow: 1;

			.hidden
			{
				display: none;
			}
		}
	}

	flex-direction: column;
}