@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@implements IInspector
@namespace Browser
@attribute [StyleSheet]
@attribute [CustomInspector("sound_c")]

<root>
    <label class="path">@Path</label>
    @Text
</root>


@code
{
    public BaseFileSystem FileSystem { get; set; }
    public string Path { get; set; }

    public string Text { get; set; }


    protected override void OnAfterTreeRender(bool firstRender)
    {
        base.OnAfterTreeRender(firstRender);

        if (firstRender)
        {
            LoadResource();
        }
    }

    void LoadResource()
    {
        if (string.IsNullOrEmpty(Path)) return;


    }

    protected override int BuildHash() => System.HashCode.Combine(Path, Text);
}